<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/articles/new">Create a new Article</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>All the articles</h2>
      <ul>
        <% for (var i = 0; i < articles.length; i++) { -%>
          <li>
            <a href="/articles/<%= articles[i].id %>"><%= articles[i].title %></a>
          </li>        
        <% } -%>
      </ul>
    </main>
  </body>
</html>