<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/authors/new">Create a new author</a></li>
      </ul>
    </nav>
  </header>
  <h1>Author Index</h1>
  <ul>
    <% for (let i = 0; i < authors.length; i++) { -%>
      <li>
        <a href="/authors/<%= authors[i].id %>"><%= authors[i].name %></a>
      </li>
    <% } -%>
  </ul>
</body>
</html>