<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Main page</a>        
        </li>
        <li>
          <a href="/authors">Author index</a>      
        </li>
      </ul>

    </nav>
    <h1>Show page for <%= author.name %></h1>
  </header>
  <main>
    <section>
      <h2>
        Author Attributes
      </h2>
      <ul>
        <li>Name: <%= author.name %></li>
      </ul>
    </section>
    <form action="/authors/<%= author.id %>?_method=DELETE" method="POST">
      <button>Delete this author</button>      
    </form>
    <p>
      <a href="/authors/<%= author.id %>/edit"><button>Edit this author</button></a>
    </p>  

           
  </main>
</body>
</html>